<% extend('../layouts/application', title) %>
<!-- BEGIN HEADER -->
<%- include('../common/top-header') -%>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<%- include('../common/sidebar-left') -%>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<%- include('../common/page-header') -%>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->

			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN VALIDATION STATES-->
					<form action="" method="POST" role="form" class="form-body">
						<input type="hidden" name="id" value="<%= data._id %>">
						<div class="add-post-left col-sm-9">
							
							<div class="alert alert-danger display-hide">
								<button class="close" data-close="alert"></button>
								You have some form errors. Please check below.
							</div>
							<div class="alert alert-success display-hide">
								<button class="close" data-close="alert"></button>
								Your form validation is successful!
							</div>
							<div class="form-group">
								<label class="control-label ">Username</label>
								<input type="text" name="username" data-required="1" class="form-control" placeholder="Username" value="<%= data.user_login%>" disabled required />
							</div>
							<div class="form-group">
								<label class="control-label ">Email</label>
								<input type="email" name="email" data-required="1" class="form-control" placeholder="Email" value="<%= data.user_email %>" disabled required />
							</div>
							<div class="form-group">
								<label class="control-label ">Display name</label>
								<input type="text" name="displayName" data-required="1" class="form-control" placeholder="Display name" value="<%= data.display_name %>" required />
							</div>
							<div class="form-group" style="position: relative;">
								<label class="control-label ">Password</label>
								<input id="password" type="password" name="password" data-required="1" class="form-control" placeholder="Password" value="<%= data.user_pass %>" required />
								<i style="position: absolute; right: 10px; top: 50%; transform: translateY(50%);  cursor: pointer;" id="show" class="fa fa-eye" aria-hidden="true"></i>
								<script>
									document.getElementById('show').addEventListener('click', () => {
										document.getElementById('password').setAttribute('type', 'text')
									})
								</script>
							</div>
							<div class="form-group">
								<label class="control-label ">Password</label>
								<select name="roles" class="form-control" required>
									<option value="0" <% if (data.roles == 0) { %><%="selected"%><%}%>>Administrator</option>
									<option value="1" <% if (data.roles == 1) { %><%="selected"%><%}%>>Sub Admin</option>
									<option value="2" <% if (data.roles == 2) { %><%="selected"%><%}%>>User</option>
								</select>
							</div>
							<button type="submit" class="btn btn-success">Edit User</button>
	

						</div>
					</form>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
	<!-- BEGIN QUICK SIDEBAR -->
	<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
	<%- include('../common/quick-sidebar') -%>
	<!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<%- include('../common/page-footer') -%>
<!-- END FOOTER -->
