<% extend('../layouts/application', title) %>


<!-- BEGIN HEADER -->
<%- include('../common/top-header') -%>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<%- include('../common/sidebar-left') -%>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<%- include('../common/page-header') -%>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-sm-8">
					<form action="" method="POST" role="form">
						<!-- <legend>Add new Category</legend> -->
					
						<div class="form-group">
							<label for="">Name</label>
							<input value="<%= currentCat.name  %>" name="name" type="text" class="form-control" id="name" placeholder="">
						</div>
						<div class="form-group">
							<label for="">Slug</label>
							<input value="<%= currentCat.slug  %>" name="slug" type="text" class="form-control" id="slug" placeholder="">
						</div>
						<div class="form-group">
							<label for="">Parent Category</label>
							<select name="parentId" id="input" class="form-control" required="required">
								<option value="0">None</option>
								<% data.forEach(x => {%>
								<option value="<%= x._id %>" <% if(x._id == currentCat.parent_id) { %><%= "selected" %><% } %>><%= x.name%></option>
								<%= //x._id + " " + currentCat.parent_id %>
								<% }) %>
							</select>
						</div>

						
						
					
						<button type="submit" class="btn btn-primary">Update</button>
					</form>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
	<!-- BEGIN QUICK SIDEBAR -->
	<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
	<%- include('../common/quick-sidebar') -%>
	<!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<%- include('../common/page-footer') -%>
<!-- END FOOTER -->

